{% extends 'base.html' %}
{% block content %}
<br>
<br>
<h2>Посылает введенное сообщение, возвращает его же с рандомной задержкой 10-20 с</h1>

<br>
      <div>
        <div id="number_tasks_sent"></div>
        <div id="number_responses_received"></div>

        <label for="messageInputField">Type some text</label>
        <input id="messageInput" type="text" class="form-control">
        <br>

         <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="numberOfTasks" class="col-form-label">Number of tasks to start</label>
            </div>
            <div class="col-auto">
                <input type="text" id="numberOfTasks" class="form-control" aria-describedby="  numberHelpInline">
            </div>
            <div class="col-auto">
                <span id="numberHelpInline" class="form-text">
                    The bigger the number, the longer it takes
                </span>
            </div>
        </div>
        <br>

        <select id='prioritySelect' class="form-select">
            <option selected>Priority</option>
            <option value="1">High</option>
            <option value="2">Default</option>
            <option value="3">Low</option>
        </select>
        <br>


        <br>
        <button name="StartTask" type="submit" class="btn btn-danger">Start task with Celery!</button>
        <br>
        <br>
        
        <button name="CheckResult" type="submit" class="btn btn-danger">Check result</button>
        <br>        
        <div id="task_created"></div>
        <br>
        <div id="task_status"></div>
        <br>          
        <br>
      </div>
<br>




<div id="final_result"></div>

{% endblock %}


{% block scripts%}
  <script type="module">
      // Give the imported MVC components a namespace
      import * as MVC from "/static/js/celery/celery.js";

      // Create an intentional global variable referencing the import
      window.mvc = MVC;
  </script>
{% endblock %}