<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>INDEX!</title>
</head>
<body>
    <h1>HELLO</h1>

    <h1>Click on the link to create job with one of a services</h1>

    <a class="nav-link" href="{{url_for('redis.redis_view')}}">
        Redis
    </a>
    <br>
    <br>

    <a class="nav-link" href="{{url_for('rabbit.rabbit_view')}}">
        RabbitMQ
    </a>
    <br>
    <br>

    <a class="nav-link" href="{{url_for('celery.celery_view')}}">
        Celery
    </a>


</body>
</html>



