{% extends 'base.html' %}
{% block content %}


<br>
<br>

<h2>Press button to start task</h2>
<br>
<div id="queues_names">
    {% for queue_name in queues_names %}
        <h4>Queue: {{queue_name}}</h4>
        <img src="/static/images/queue.png">
        <div id="number_tasks_sent"></div>
        <div id="number_responses_received"></div>
        <label for="messageInputField">Type some text</label>
        <input type="text" class="form-control" id="messageInput">

    {% endfor %}
</div>
<br>


<button name="StartTask" type="submit" class="btn btn-danger">Start task with RabbitMQ!</button>

<div id="task_created"></div>
<br>

<button name="CheckResult" type="submit" class="btn btn-danger">Check result</button>
<br>

<div id="stop_clock"></div>
<br>

<div id="final_result"></div>

{% endblock %}


{% block scripts%}
  <script type="module">
      // Give the imported MVC components a namespace
      import * as MVC from "/static/js/rabbit/rabbit.js";

      // Create an intentional global variable referencing the import
      window.mvc = MVC;
  </script>
{% endblock %}